*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    /* border: solid 1px red; */
    width: 300px;
    height: 210px;
    box-shadow: 2px 12px 15px gray;
    border-radius: 10px;
    background-color: aqua;
    padding: 8px;
}
.displey{
  width:100% ;
  background-color: #fff;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
li{
    /* border: solid 1px red; */
    text-align: center;
}
button{
    width: 100%;
    cursor: pointer;
    font-size: 15px;
}